<form>
  <div class="input-container">
    <i class="fa-solid fa-magnifying-glass search-icon"></i>
    <input type="text"
           [(ngModel)]="courseName"
           name="courseName"
           placeholder="Input a course name"
           class="search-courses-input">
  </div>
  <button class="search-button" (click)="searchButtonClicked(courseName)">Search</button>
</form>
<div class="add-course-button-container">
  <button class="add-course-button">
    <i class="fa-solid fa-plus"></i>
    <p class="add-course-button-text">Add course</p>
  </button>
</div>
