:host {
  form, .input-container {
    display: inline-flex;
  }

  .input-container {
    background-color: white;
    border-radius: 5px;

    .search-courses-input {
      border: none;
      outline: none;
    }

    .search-courses-input, .search-icon {
      align-self: center;
      margin-left: 10px;
    }
  }

  .search-button {
    padding: 7px;
    margin-left: 5px;
    background-color: limegreen;
  }

  .add-course-button-container, .add-course-button {
    display: flex;
  }

  .add-course-button-container {
    justify-content: flex-end;

    .add-course-button {
      padding: 5px;
      background: cornflowerblue;
    }
  }
}
