@import '../../../assets/variables';

:host {
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
  color: lightgray;
  font-size: 10px;
  line-height: $headerHeight;
  background-color: black;
}
