@import '../assets/variables';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  app-header, app-breadcrumbs, app-footer {
    flex: 0 0 $headerHeight;
  }

  app-courses-page {
    flex: 1 1 calc(100vh - (3*$headerHeight));
  }

  app-login-page {
    flex: 1 1 calc(100vh - (2*$headerHeight))
  }
}

