
.authors-data-container {
  width: 50%;
}

.date-data-container {
  width: 25%;
}

.duration-data-container {
  .label-container {
    width: 25%;
  }

  .duration-input-container {
    display: flex;

    .duration-input {
      width: calc(25% - 12px);
    }

    p {
      align-self: center;
      margin-left: 1%;
    }
  }
}

.label-container {
  display: flex;
  justify-content: space-between;

  & > label {
    margin: 10px 0;
    font-weight: bold;
  }

  & > p {
    align-self: center;
    font-size: 10px;
  }
}

.data-container > input,
.date-data-container > input,
.duration-data-container input,
.authors-data-container > input,
.course-description-textarea {
  width: calc(100% - 12px);
  padding: 7px;
  border-radius: 5px;
  border: 2px solid lightgray;
}

.course-description-textarea {
  resize: none;
}


