/* You can add global styles to this file, and also import other style files */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background-color: lightgray;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input {
  padding: 0;
  border: none;
  border-radius: 5px;
}

i {
  margin-right: 5px;
}

label:hover {
  cursor: pointer;
}
