.form-title, .new-course-form {
  margin: 20px;
}

.new-course-form {
  display: flex;
  flex-direction: column;

  .buttons-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

    .cancel-button, .save-button {
      width: 10%;
      padding: 10px;
    }

    .cancel-button {
      background-color: lightgray;
    }

    .save-button {
      margin-left: 1%;
      background-color: limegreen;
    }
  }
}
