<header class="header-container">
  <div class="logo-container" routerLink="/courses">
    <i class="fa-solid fa-square-caret-right fa-2x"></i>
    <span class="logo-text">VIDEO COURSES</span>
  </div>
  <div class="buttons-container">
    <button class="user-button" *appIfAuthenticated="isAuthenticated">
      <i class="fa-solid fa-user"></i>
      <p class="user-name">{{userName | titlecase}}</p>
    </button>
    <button class="login-button" *appIfAuthenticated="(currentRoute$ | async) !== '/login'" (click)="onLogInLogOff()">
      <i class="fa-solid fa-right-from-bracket"></i>
      <p class="authorization-text">{{isAuthenticated ? 'Log Off' : 'Log in'}}</p>
    </button>
  </div>
</header>
