.courses-container {
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 20px;
  background-color: white;

  &.top-rated {
    background: yellowgreen;
  }

  .title-container,
  .time-container,
  .description-container,
  .description-container.buttons-container {
    display: flex;
  }

  .description-container, .title-container {
    justify-content: space-between;
  }

  .title-container > .fa-star {
    width: 15%;
  }

  .time-container {
    align-self: end;
    width: 45%;

    i {
      align-self: center;
    }

    .duration {
      margin-right: 10%;
    }
  }

  .description-container {
    margin-top: 20px;

    .description-text {
      max-width: 70%;
    }

    .buttons-container button {
      max-width: 100%;
      padding: 5px;
      background: cornflowerblue;

      &:first-child {
        margin-right: 10px;
      }
    }
  }
}
